<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
    <div class="panel panel-default">
      <div class="panel-heading center"><%= image_tag @pin.image.url(:medium) %></div>
        
        <div class="panel-body">
        
        <%= @pin.description %></br>
        </br><strong><%= @pin.user.name %></strong></br></br>
        
        <% if @pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-primary btn-sm' %> |
        <% end %>
        <%= link_to 'Back', pins_path, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  </div>
